
@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<MVC.Models.Event>
@using Microsoft.AspNetCore.Identity
@inject Microsoft.AspNetCore.Identity.SignInManager<IdentityUser> _signInManager

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Events Invited To</title>
</head>
<body>
    <div class="text-center">
        <h2 class="text-primary mt-4">Events Invited To</h2>
    </div>
    <div class="list-group align-items-md-center">
        @foreach (var item in Model)
        {
            <ol>
                @if (User.Identity.Name == item.Invite)
                {
                    <li><a asp-controller="Event" asp-action="Index"> @item.Title </a></li>
                }
            </ol>
        }

    </div>

</body>
</html>

