@model MVC.Models.Event

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Add Event </h2>
        </div>
        <div class="row">
            <!--<div class="col-6">-->
            <div class="form-group col-4">
                <div class="row-4 mb-2">
                    <label asp-for="Title"></label>
                </div>
            </div>
            <div class="form-group col-8">
                <div class=" row-2 mb-2">
                    <input asp-for="Title" class="form-control" required />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group col-4">

                <div class="row-4 mb-2">
                    <label asp-for="Date"></label>
                </div>
            </div>
            <div class="form-group col-8">

                <div class=" row-2 mb-2">
                    <input asp-for="Date" class="form-control" required/>
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group col-4">

                <div class="row-4 mb-2">
                    <label asp-for="Location"></label>
                </div>
            </div>
            <div class="form-group col-8">
                <div class=" row-2 mb-2">
                    <input asp-for="Location" class="form-control" required/>
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group col-4">
                <div class="row-4 mb-2">
                    <label asp-for="StartTime"></label>
                </div>
            </div>
            <div class="form-group col-8">
                <div class=" row-2 mb-2">
                    <input asp-for="StartTime" class="form-control" required/>
                    <span asp-validation-for="StartTime" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group col-4">

                <div class="row-4 mb-2">
                    <label asp-for="Type"> </label>
                </div>
            </div>
            <div class="form-group col-8">
                <div class=" row-2 mb-2">
                    <input asp-for="Type" class="form-control" required />
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group col-4">

                <div class="row-4 mb-2">
                    <label asp-for="Duration"></label>
                </div>
            </div>
            <div class="form-group col-8">
                <div class=" row-2 mb-2">
                    <input asp-for="Duration" class="form-control" />
                </div>
            </div>

            <div class="form-group col-4">

                <div class="row-4 mb-2">
                    <label asp-for="Description"></label>
                </div>
            </div>
            <div class="form-group col-8">
                <div class=" row-2 mb-2">
                    <input asp-for="Description" class="form-control" />
                </div>
            </div>

            <div class="form-group col-4">

                <div class="row-4 mb-2">
                    <label asp-for="OtherDetails"></label>
                </div>
            </div>
            <div class="form-group col-8">
                <div class=" row-2 mb-2">
                    <input asp-for="OtherDetails" class="form-control" />
                </div>
            </div>

            <div class="form-group col-4">

                <div class="row-4 mb-2">
                    <label asp-for="Invite"></label>
                </div>
            </div>
            <div class="form-group col-8">
                <div class=" row-2 mb-2">
                    <input asp-for="Invite" class="form-control" />
                </div>

                <div class="invisible row-2 mb-2">
                    <input asp-for="Userid" value="@User.Identity.Name" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-8 text-center row">
                    <div class="col">
                        <input type="submit" class="btn btn-info w-100 mb-4" value="Create" />
                    </div>

                    <div class="col">
                        <a asp-controller="Event" asp-action="Index" class="btn btn-danger w-100">Go Back</a>
                    </div>

                </div>
            </div>
        </div>
        </div>

</form>

