@model CampBooking.Models.ViewModels.campDetailsViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Admin" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="campName" class="control-label">Camp Name</label>
                <input asp-for="campName" class="form-control" required/>
                <span asp-validation-for="campName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="capacity" class="control-label">Capacity</label>
                <input asp-for="capacity" class="form-control" required/>
                <span asp-validation-for="capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label">Price</label>
                <input asp-for="price" class="form-control" required/>
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="desc" class="control-label">Description</label>
                <input asp-for="desc" class="form-control" required/>
                <span asp-validation-for="desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image" class="control-label">Image</label><br />
                <input type="file" name="Files" asp-for="image" required/>
                <span asp-validation-for="image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="MangeCamp">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
